body
	margin 0

.container
	width 3000px
	height 3000px
	// width 1500px
	// height 1500px
	background #28143f
	position relative

.point
	position absolute
	// top 40px
	// left 20px
	height 4px
	width 4px
	border-radius 50%
	// background #FC2D79
